In [1]:
#importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [2]:
#read data
dataset = pd.read_csv('hiring.csv')

In [3]:
dataset.head()

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
experience         6 non-null object
test_score         7 non-null float64
interview_score    8 non-null int64
salary             8 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [5]:
#data preprocessing
dataset.experience.fillna(0, inplace=True)
dataset.test_score.fillna(dataset.test_score.mean(), inplace=True)

In [6]:
dataset.experience.isna().value_counts()

False    8
Name: experience, dtype: int64

In [7]:
#splitting data into dependency and independency
X = dataset.drop('salary', axis=1)
y = dataset.salary

In [8]:
def convert_into_int(word):
    word_dict = {'zero':0, 'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6,
                'seven':7, 'eight':8,'nine':9, 'ten':10, 'eleven':11, 0:0}
    return word_dict[word]

In [9]:
#converting word values into integers
X.experience = X.experience.apply(lambda x: convert_into_int(x))

In [10]:
#regression model for prediction
from sklearn.linear_model import LinearRegression

In [11]:
regressor = LinearRegression()

In [12]:
regressor.fit(X,y)

LinearRegression()

In [13]:
#saving model
pickle.dump(regressor, open('model.pkl', 'wb') )

In [14]:
#loading model
model = pickle.load(open('model.pkl', 'rb'))

In [15]:
print(model.predict([[3,5,8]]))

[52860.72510867]